### Pandas.Series
Pandas Series is a One Dimensional indexed array. It is most similar to the NumPy array. pandas.Series is a method to create a series.
Here practically explanation about Series.

In [1]:
import pandas as pd

Here we are using as keyword to short pandas name as “pd“

## Methods of Creating a Series
### 1. Creating series from list
but first, we are creating a list

In [3]:
list_1 = [1, 2, -3, 4.5, 'Pakistani']
print(list_1)

[1, 2, -3, 4.5, 'Pakistani']

### Creating series using the above list

In [4]:
series1 = pd.Series(list_1)
print(series1)

0            1
1            2
2           -3
3          4.5
4    Pakistani
dtype: object

Here it is showing 0 1 2 3 4 is index and 1 2 -3 4.5 Indian are data values.

In [5]:
type(series1)

pandas.core.series.Series

pandas.core.series.Series means series is a one-dimensional array, which can store indexed data

### 2. Creating Empty Series
Empty series is like an empty list, we can create empty series using an empty list

In [6]:
empty_s = pd.Series([])
print(empty_s)

Series([], dtype: object)

### 3. Creating Series using a different method
List inside the series

In [7]:
series2 = pd.Series([1,2,3,4,5])
print(series2)

0    1
1    2
2    3
3    4
4    5
dtype: int64

in index parameter, default index is start from 0 to n (0,1,2,….n) when index is not identified
Here we are creating series with the index parameter
Index length should have equal to the number of data values, otherwise, it shows error

In [8]:
series2 = pd.Series([1,2,3,4,5], index = ['a', 'b', 'c'])
print(series2)

ValueError: Length of values (5) does not match length of index (3)

ValueError: Length of passed value is 5, index implies 3
We got an error because we passed 3 indexes for 5 data values

In [9]:
series2 = pd.Series([1,2,3,4,5], index = ['a', 'b', 'c', 'd', 'e'])
print(series2)

a    1
b    2
c    3
d    4
e    5
dtype: int64

We can change index to any numbers, alphabates, names etc.

Above you can see dtype: int64, this means our data type has stored in integer 64 bit.
we can change the data type of series
Changing data type of series (Convert int into a float)

In [10]:
series2 = pd.Series([1,2,3,4,5], index = ['a', 'b', 'c', 'd', 'e'], dtype = float)
print(series2)

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
dtype: float64

4. Creating series from scalar values
scalar values means single value
e.g. 1, 0.5, ‘Pakistani’

In [11]:
s3_scalar = pd.Series(2)
print(s3_scalar)

0    2
dtype: int64

for more data values index should be needed.

In [12]:
s3_scalar = pd.Series(2, index = [1,2,3,4,5])
print(s3_scalar)

1    2
2    2
3    2
4    2
5    2
dtype: int64

### 5. Creating series from python dictionary

In [13]:
s4_dict = pd.Series({'a':1, 'b':2, 'c':3})
print(s4_dict)

a    1
b    2
c    3
dtype: int64

### Accessing element from series
Pandas Series supports most Python functions.
Now, we are accessing element from series2

In [14]:
print(series2)

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
dtype: float64

We can access any value or data from series by putting index value

In [15]:
series2[3]
series2[4]

/tmp/ipython-input-1393167416.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  series2[3]
/tmp/ipython-input-1393167416.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  series2[4]

np.float64(5.0)

### Slicing series
Here we are slicing series with index value 1 to 4 that means 1 is inclusive(it can be taken) and 4 is exclusive(it can be not taken)

In [16]:
series2[1:4]

b    2.0
c    3.0
d    4.0
dtype: float64

### Adding two serieses

In [17]:
s5 = pd.Series([1,2,3,4,5])
s6 = pd.Series([1,2,3,4,5])

a = s5 + s6
print(a)

0     2
1     4
2     6
3     8
4    10
dtype: int64

we can also add series using add method

In [18]:
s5.add(s6)

0     2
1     4
2     6
3     8
4    10
dtype: int64

min() operator gives minimum value of particular series

In [19]:
min(a)

2

max() operator gives maximum value

In [20]:
max(a)

10

### Conditional operator
If you want to print less than 8 values

In [21]:
a[a < 8]

0    2
1    4
2    6
dtype: int64

Using drop() function we can eliminate any index value[link text](https://)

In [22]:
a.drop(4)

0    2
1    4
2    6
3    8
dtype: int64

Now we are printing series6 (s6)

In [24]:
print(s6)
s7 = pd.Series([1,2,3])
print(s7)

0    1
1    2
2    3
3    4
4    5
dtype: int64
0    1
1    2
2    3
dtype: int64

Pandas have additional functions to fill missing values, it does not show an error when the value is missing. Missing values are shown by NaN.
See below example:


In pandas, we can add the unequal data values series. Here series s6 have 5 data values and s7 have 3 data values, when we perform addition operation it adds successfully

In [25]:
s6 + s7

0    2.0
1    4.0
2    6.0
3    NaN
4    NaN
dtype: float64