### Pandas loc vs iloc

| Feature | loc | iloc |
|--------------------|-------------------------------|-------------------------------|
| Access type | Label-based | Integer-position based |
| Index | Row/Column names | Row/Column numbers |
| End index | Included | Excluded |
| Accepts conditions | Yes | No |
| Slicing            | Label slicing                 | Numeric slicing|

### 1. loc – Label Based Selection
Syntax

df.loc[row_labels, column_labels]

In [ ]:
import pandas as pd

# Create a sample DataFrame
data = {'Name': ['Ali', 'Sara', 'John','Nasir','Talha'],
        'Age': [25, 28, 30, 33, 37],
        'City': ['Lahore', 'Karachi', 'Islamabad','Rawalpindi','Kohat']}
df = pd.DataFrame(data)

# Now you can use .loc
print(df.loc[0, 'Name'])  # Output: Ali

### Parameters of loc

1.Row selector

• Row label

• List of labels

• Slice of labels

• Boolean condition

2.Column selector

• Column label

• List of column labels

•Slice of column labels

 Examples of loc

In [ ]:
# Select a single row
df.loc[2]
# Selects row with index label 3

In [ ]:
# Select multiple rows
df.loc[[1, 0, 4]]

In [ ]:
# Select row range (inclusive)
df.loc[2:5]

In [ ]:
# Select specific columns
df.loc[:, ['Name', 'City']]

In [ ]:
# Select rows and columns together
df.loc[1:4, ['Age', 'City']]

In [ ]:
# Conditional selection (VERY IMPORTANT)
df.loc[df['Age'] > 30, ['Name', 'Age']]

In [ ]:
# This line adds a new row at the end of the DataFrame with values ['Hassan', 15, 'Peshawar', None] for the respective columns.
df.loc[len(df)] = ['Hassan', 15, 'Peshawar', None]
df.loc[len(df)] = ['Danish', 13, 'Abbottabad', None]
df.loc[len(df)] = ['Haider', 11, 'Khushab', None]
df.loc[df['Age'] < 18, 'Status'] = 'Minor'
print(df)

In [ ]:
# Update values using
df.loc[df['Age'] < 18, 'Status'] = 'Minor'
df

### Key Rules for loc

✔ Uses labels

✔ Ending index included

✔ Best for filtering & updating data

### 2.iloc – Integer Position Based Selection

Syntax

df.iloc[row_positions, column_positions]

Parameters of iloc

1.Row index (integer)

• Single integer

• List of integers

• Slice of integers

2.Column index (integer)

• Same as rows but for columns

#### Examples of iloc

In [ ]:
# Select first row
df.iloc[0]

In [ ]:
# Select multiple rows
df.iloc[[0, 2, 4]]

In [ ]:
# Select row range (exclusive)
df.iloc[1:5]
# Excludes index 5

In [ ]:
# Select specific columns
df.iloc[:, [0, 2]]

In [ ]:
# Select rows and columns togeth
df.iloc[0:3, 1:4]

In [ ]:
# Update values using iloc
df.iloc[0, 2] = 999
df

### 3.loc vs iloc – Side-by-Side Example

In [ ]:
df.loc[1:3]    # rows with index labels 1 to 3

In [ ]:
df.iloc[1:3]   # rows at position 1 and 2

### 5.Real-World Example (Security Logs)

In [ ]:
import pandas as pd

data = {
    'Status': ['Success', 'Failed', 'Failed'],
    'IP': ['192.168.1.1', '192.168.1.2', '192.168.1.3'],
    'Time': ['10:00', '10:05', '10:10']
}
df = pd.DataFrame(data)

# Get all failed logins
success_logins = df.loc[df['Status'] == 'Success', ['IP', 'Time']]
print(success_logins)

In [ ]:
import pandas as pd

data = {
    'Status': ['Success', 'Failed', 'Failed'],
    'IP': ['192.168.1.1', '192.168.1.2', '192.168.1.3'],
    'Time': ['10:00', '10:05', '10:10']
}
df = pd.DataFrame(data)

# Get all failed logins
failed_logins = df.loc[df['Status'] == 'Failed', ['IP', 'Time']]
print(failed_logins)

In [ ]:
# Get all failed logins
df.loc[df['Status'] == 'Failed', ['IP', 'Time']]

# Get first 10 logs
df.iloc[0:10]