### Pandas DatetimeIndex

### What is DatetimeIndex in Pandas?

DatetimeIndex is a special type of index used to handle date and time data in Pandas.

• It allows you to:

• Work with time-series data

• Filter data by date / time

• Perform resampling, rolling, and time-based slicing

• Do fast date arithmetic

### Why is DatetimeIndex used?

• You use DatetimeIndex when:

• Your data is time-based (sales per day, stock prices, logs)

• You want powerful date filtering

• You need time-series analysis

• You want automatic date alignment

### How to Create a DatetimeIndex

1 Using pd.DatetimeIndex()

pd.DatetimeIndex(data, freq=None, tz=None, normalize=False, name=None)

In [1]:
# Example 1: Basic DatetimeIndex
import pandas as pd

dates = ['2024-01-01', '2024-01-02', '2024-01-03']
dt_index = pd.DatetimeIndex(dates)

print(dt_index)
# Creates a DatetimeIndex from a list of date strings.

DatetimeIndex(['2024-01-01', '2024-01-02', '2024-01-03'], dtype='datetime64[ns]', freq=None)

In [2]:
# Example 2: With frequency
dt_index = pd.DatetimeIndex(['2024-01-01', '2024-01-02', '2024-01-03'], freq='D')
print(dt_index)
# Now pandas knows the dates are daily.

DatetimeIndex(['2024-01-01', '2024-01-02', '2024-01-03'], dtype='datetime64[ns]', freq='D')

In [3]:
# Example 3: With timezone
dt_index = pd.DatetimeIndex(['2024-01-01 10:00', '2024-01-02 12:00'], tz='Asia/Karachi')
print(dt_index)
# Dates are localized to Asia/Karachi timezone.

DatetimeIndex(['2024-01-01 10:00:00+05:00', '2024-01-02 12:00:00+05:00'], dtype='datetime64[ns, Asia/Karachi]', freq=None)

In [4]:
# Example 4: Normalize times
dt_index = pd.DatetimeIndex(['2024-01-01 10:30', '2024-01-02 15:45'], normalize=True)
print(dt_index)
# Times are reset to midnight (00:00:00).

DatetimeIndex(['2024-01-01 10:30:00', '2024-01-02 15:45:00'], dtype='datetime64[ns]', freq=None)

C:\Users\DELL XPS\AppData\Local\Temp\ipykernel_8908\2441295790.py:2: FutureWarning: The 'normalize' keyword in DatetimeIndex construction is deprecated and will be removed in a future version.
  dt_index = pd.DatetimeIndex(['2024-01-01 10:30', '2024-01-02 15:45'], normalize=True)

In [5]:
# Example 5: Naming the index
dt_index = pd.DatetimeIndex(['2024-01-01', '2024-01-02'], name='MyDates')
print(dt_index)
# The index is now labeled MyDates.

DatetimeIndex(['2024-01-01', '2024-01-02'], dtype='datetime64[ns]', name='MyDates', freq=None)

### Parameters Explained (Constructor)
### 1.data (Required)

List / array / Series of datetime-like values.

pd.DatetimeIndex(['2024-01-01', '2024-01-02'])

Accepted formats:

• Strings

• datetime objects

• NumPy datetime64

• Pandas Timestamps

In [6]:
# Example 1: Using strings
import pandas as pd

dt_index = pd.DatetimeIndex(['2024-01-01', '2024-01-02'])
print(dt_index)
# Strings were automatically converted into datetime objects.

DatetimeIndex(['2024-01-01', '2024-01-02'], dtype='datetime64[ns]', freq=None)

In [7]:
# Example 2: Using Python datetime objects
from datetime import datetime
dt_index = pd.DatetimeIndex([datetime(2024,1,1), datetime(2024,1,2)])
print(dt_index)

DatetimeIndex(['2024-01-01', '2024-01-02'], dtype='datetime64[ns]', freq=None)

In [8]:
# Example 3: Using NumPy datetime64
import numpy as np
dt_index = pd.DatetimeIndex([np.datetime64('2024-01-01'), np.datetime64('2024-01-02')])
print(dt_index)

DatetimeIndex(['2024-01-01', '2024-01-02'], dtype='datetime64[ns]', freq=None)

In [9]:
# Example 4: Using Pandas Timestamps
dt_index = pd.DatetimeIndex([pd.Timestamp('2024-01-01'), pd.Timestamp('2024-01-02')])
print(dt_index)

DatetimeIndex(['2024-01-01', '2024-01-02'], dtype='datetime64[ns]', freq=None)

### 2.freq

Defines the frequency of dates.

Common values:

| Code | Meaning |
|------|---------|
| D | Daily |
| M | Month end |
| MS | Month start |
| Y | Year end |
| H | Hour |
| T / min | Minute |
| S | Second |

pd.DatetimeIndex(['2024-01-01', '2024-01-02'], freq='D')

Optional but useful for resampling

In [10]:
# Example 1: Daily frequency
import pandas as pd

dt_index = pd.DatetimeIndex(['2024-01-01', '2024-01-02'], freq='D')
print(dt_index)
# Pandas now knows this is a daily sequence.

DatetimeIndex(['2024-01-01', '2024-01-02'], dtype='datetime64[ns]', freq='D')

In [11]:
# Example 2: Monthly frequency
dt_index = pd.DatetimeIndex(['2024-01-31', '2024-02-29'], freq='M')
print(dt_index)
# Dates are recognized as month-end frequency.

DatetimeIndex(['2024-01-31', '2024-02-29'], dtype='datetime64[ns]', freq='ME')

C:\Users\DELL XPS\AppData\Local\Temp\ipykernel_8908\1947081734.py:2: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dt_index = pd.DatetimeIndex(['2024-01-31', '2024-02-29'], freq='M')

In [12]:
# Example 3: Hourly frequency
dt_index = pd.DatetimeIndex(['2024-01-01 10:00', '2024-01-01 11:00'], freq='H')
print(dt_index)

DatetimeIndex(['2024-01-01 10:00:00', '2024-01-01 11:00:00'], dtype='datetime64[ns]', freq='h')

C:\Users\DELL XPS\AppData\Local\Temp\ipykernel_8908\358054063.py:2: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  dt_index = pd.DatetimeIndex(['2024-01-01 10:00', '2024-01-01 11:00'], freq='H')

In [13]:
pd.DatetimeIndex(['2024-01-01', '2024-01-02'], freq='D')
# Optional but useful for resampling

DatetimeIndex(['2024-01-01', '2024-01-02'], dtype='datetime64[ns]', freq='D')

### 3. tz

Timezone information.

pd.DatetimeIndex(
    ['2024-01-01 10:00'],
    tz='Asia/Karachi'
)


Common values:

• 'UTC'

• 'Asia/Karachi'

• 'US/Eastern'

In [14]:
# Example
import pandas as pd

dt_index = pd.DatetimeIndex(
    ['2024-01-01 10:00'],
    tz='Asia/Karachi'
)

print(dt_index)

DatetimeIndex(['2024-01-01 10:00:00+05:00'], dtype='datetime64[ns, Asia/Karachi]', freq=None)

### 4.normalize (Default: False)

True → sets time to 00:00:00

• Keeps only date part

• pd.DatetimeIndex(['2024-01-01 10:30'], normalize=True)

In [15]:
# Example
import pandas as pd

dt_index = pd.DatetimeIndex(['2024-01-01 10:30'], normalize=True)
print(dt_index)

DatetimeIndex(['2024-01-01 10:30:00'], dtype='datetime64[ns]', freq=None)

C:\Users\DELL XPS\AppData\Local\Temp\ipykernel_8908\1701430336.py:4: FutureWarning: The 'normalize' keyword in DatetimeIndex construction is deprecated and will be removed in a future version.
  dt_index = pd.DatetimeIndex(['2024-01-01 10:30'], normalize=True)

# 5.name

Name of the index.

pd.DatetimeIndex(dates, name='Date')

In [16]:
# Example 1: Basic usage
import pandas as pd

dates = ['2024-01-01', '2024-01-02', '2024-01-03']
dt_index = pd.DatetimeIndex(dates, name='Date')

print(dt_index)
# The index now has a name: "Date".

DatetimeIndex(['2024-01-01', '2024-01-02', '2024-01-03'], dtype='datetime64[ns]', name='Date', freq=None)

In [17]:
# Example 2: Using in a DataFrame
df = pd.DataFrame(
    {'Sales': [200, 300, 400]},
    index=pd.DatetimeIndex(['2024-01-01','2024-01-02','2024-01-03'], name='Date')
)

print(df)
# The index is labeled Date, making the DataFrame clearer.

            Sales
Date
2024-01-01    200
2024-01-02    300
2024-01-03    400

### Important DatetimeIndex Attributes & Methods

### 1. Date Properties

When your DataFrame has a DatetimeIndex, you can directly access date/time components:

In [18]:
import pandas as pd

dates = pd.date_range('2024-01-01', periods=3, freq='D')
df = pd.DataFrame({'Sales':[200,300,400]}, index=dates)

print(df.index.year)       # [2024, 2024, 2024]
print(df.index.month)      # [1, 1, 1]
print(df.index.day)        # [1, 2, 3]
print(df.index.day_name()) # ['Monday','Tuesday','Wednesday']
print(df.index.hour)       # [0, 0, 0] (since no time given)

Index([2024, 2024, 2024], dtype='int32')
Index([1, 1, 1], dtype='int32')
Index([1, 2, 3], dtype='int32')
Index(['Monday', 'Tuesday', 'Wednesday'], dtype='object')
Index([0, 0, 0], dtype='int32')

### 2. Date Filtering
You can filter rows by partial string matching on the DatetimeIndex:

In [19]:
import pandas as pd

dates = pd.date_range('2024-01-01', periods=5, freq='D')
df = pd.DataFrame({'Sales':[200,300,400,500,600]}, index=dates)
print(df)

            Sales
2024-01-01    200
2024-01-02    300
2024-01-03    400
2024-01-04    500
2024-01-05    600

In [20]:
# Filter by year
df.loc['2024']
# Returns all rows in 2024.

            Sales
2024-01-01    200
2024-01-02    300
2024-01-03    400
2024-01-04    500
2024-01-05    600

In [21]:
# Filter by month
df.loc['2024-01']
# Returns all rows in January 2024.

            Sales
2024-01-01    200
2024-01-02    300
2024-01-03    400
2024-01-04    500
2024-01-05    600

In [22]:
# Filter by exact date range
df.loc['2024-01-02':'2024-01-04']
# Returns rows from Jan 2 → Jan 4.

            Sales
2024-01-02    300
2024-01-03    400
2024-01-04    500

### 3. Shifting Dates
shift() moves data forward/backward.

In [23]:
# Shift values down by 1 row (index stays same)
df.shift(1)

# Shift index forward by 1 day (freq='D')
df.shift(freq='D')
# First version shifts data, second version shifts dates.

            Sales
2024-01-02    200
2024-01-03    300
2024-01-04    400
2024-01-05    500
2024-01-06    600

### 4. Resampling (Time-Series Aggregation)
Resampling changes the frequency of time series data.

In [24]:
# Monthly sum
df.resample('M').sum()

# Daily mean
df.resample('D').mean()
# Useful for aggregating data (e.g., daily → monthly totals).

C:\Users\DELL XPS\AppData\Local\Temp\ipykernel_8908\1417103826.py:2: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df.resample('M').sum()

            Sales
2024-01-01  200.0
2024-01-02  300.0
2024-01-03  400.0
2024-01-04  500.0
2024-01-05  600.0

### 5. Date Arithmetic
You can add/subtract timedeltas to shift dates.

In [25]:
# Add 7 days to each index
df.index + pd.Timedelta(days=7)

# Subtract 2 hours from each index
df.index - pd.Timedelta(hours=2)
# This lets you manipulate dates directly.

DatetimeIndex(['2023-12-31 22:00:00', '2024-01-01 22:00:00',
               '2024-01-02 22:00:00', '2024-01-03 22:00:00',
               '2024-01-04 22:00:00'],
              dtype='datetime64[ns]', freq='D')

### Example

In [26]:
import pandas as pd

dates = pd.date_range(start='2024-01-01', periods=5, freq='D')

df = pd.DataFrame({
    'Sales': [100, 120, 90, 150, 130]
}, index=dates)

print(df)
# Now dates is a DatetimeIndex.

            Sales
2024-01-01    100
2024-01-02    120
2024-01-03     90
2024-01-04    150
2024-01-05    130

### DatetimeIndex vs Normal Index
| Feature | DatetimeIndex | Normal Index |
|---------|---------------|--------------|
| Time-based slicing | Supported | Not supported |
| Resampling | Supported | Not supported |
| Date math | Supported | Not supported |
| Time zones | Supported | Not supported |
| Business day logic | Supported | Not supported |
| Holiday calendars | Supported | Not supported |