###  What are Missing Values in Pandas?

Pandas represents missing data as:

• NaN (Not a Number)

• None

• NaT (Not a Time – for datetime)

### Detecting Missing Values
 isnull() / isna()

Returns True where value is missing.

df.isnull()

df.isna()

In [ ]:
import pandas as pd

# Create a DataFrame
data = {'A': [1, 2, None], 'B': [4, None, 6]}
df = pd.DataFrame(data)

# Now you can check for missing values
print(df.isnull())
print(df.isna())

Parameters

• No parameters required

• Works on DataFrame or Series

In [ ]:
df.isnull().sum()   # count missing values per column

notnull() / notna()

Opposite of isnull().

In [ ]:
df.notnull()

### Dropping Missing Values
dropna()

Removes rows or columns with missing values.

In [ ]:
df.dropna()

###  Parameters Explained
df.dropna(
    axis=0,
    how='any',
    thresh=None,
    subset=None,
    inplace=False
)
| Parameter | Meaning |
|-----------|----------------------------------|
| axis | 0 = rows, 1 = columns |
| how | 'any' = drop if any NaN |
| | 'all' = drop if all NaN |
| thresh | Minimum non-NaN values required |
| subset | Apply to specific columns |
| inplace   | True = modify original data      |

### Examples

In [ ]:
df.dropna(axis=0)        # drop rows with NaN

In [ ]:
df.dropna(axis=1)        # drop columns with NaN

In [ ]:
df.dropna(how='all')     # drop rows where all values are NaN

In [ ]:
df.dropna(thresh=2)      # keep rows with at least 2 non-NaN values

In [ ]:
import pandas as pd  # Example

data = {'Name': ['Ali', 'Sara', 'John'],
        'Age': [25, None, 30]}
df = pd.DataFrame(data)

# Drop rows where Age is NaN
df_cleaned = df.dropna(subset=['Age'])
print(df_cleaned)

In [ ]:
df.dropna(subset=['Age'])  # check only Age column

### Filling Missing Values
fillna()

Replaces missing values.

df.fillna(value)

Parameters Explained

df.fillna(
    value=None,
    method=None,
    axis=None,
    inplace=False,
    limit=None
)

| Parameter | Meaning |
|-----------|-----------------------------------------|
| value | Value to replace NaN (number, string, dict) |
| method | 'ffill' or 'bfill' |
| axis | Direction |
| limit | Max NaNs to fill |
| inplace   | Modify original data                    |

#### Examples

In [ ]:
df.fillna(0)  # Fill with constant value

In [ ]:
df['Age'].fillna(df['Age'].mean())  # Column-wise filling

In [ ]:
df.fillna(method='ffill') # Forward fill

In [ ]:
df.fillna(method='bfill') # Backward fill

In [ ]:
df.fillna({'Age': 25, 'Salary': 30000})  # Dictionary-based filling

 ### 4. Replacing Specific Values
 replace()

Used when missing values are not NaN but symbols like '?', 'NA', 'unknown'.

df.replace('?', np.nan)

#### Parameters
df.replace(
    to_replace=None,
    value=None,
    inplace=False,
    regex=False
)

| Parameter | Meaning |
|--------------|--------------------------------|
| to_replace | Value to replace |
| value        | Replacement value              |
| regex        | Use regex patterns             |
| inplace      | Modify original                |

In [ ]:
import pandas as pd
import numpy as np

data = {'Name': ['Ali', 'Sara', 'John'],
        'Age': ['25', '?', '30']}
df = pd.DataFrame(data)

# Replace '?' with NaN
df_cleaned = df.replace('?', np.nan)
print(df_cleaned)

In [ ]:
df.replace('?', np.nan)

### 5. Interpolation (Numerical Data)
interpolate()

Fills missing values using mathematical estimation.

df.interpolate()

#### Parameters

df.interpolate(
    method='linear',
    axis=0,
    limit=None,
    inplace=False
)

| Parameter | Meaning |
|----------|----------------------------------|
| method | linear, time, polynomial |
| axis | Direction |
| limit | Max NaNs |
| inplace  | Modify original                  |

In [ ]:
import pandas as pd
data = {'Name': ['Ali', 'Sara', 'John'],
        'Age': ['25', '?', '30']}  # Age is object type
df = pd.DataFrame(data)
# Convert Age to numeric
df['Age'] = pd.to_numeric(df['Age'], errors='coerce')
# Interpolate missing values
df['Age'] = df['Age'].interpolate(method='linear')
print(df)

In [ ]:
df.interpolate(method='linear')

### Checking Missing Value Impact
df.info()

Shows:

• Total entries

• Non-null counts

• Data types

In [ ]:
df.info()