### Pandas merge()

### What is merge()?

merge() is used to combine two DataFrames based on common columns or indexes, similar to SQL JOINs.

Used in:

• Data analysis projects

• Finance & accounting datasets

• Logs correlation (CEH / SOC use cases)

### Basic Syntax

pd.merge(
    left,
    right,
    how='inner',
    on=None,
    left_on=None,
    right_on=None,
    left_index=False,
    right_index=False,
    sort=False,
    suffixes=('_x', '_y'),
    indicator=False,
    validate=None
)

### Step-by-Step Parameters Explanation
### 1.left

The first DataFrame.

pd.merge(df1, df2)

In [1]:
# Example
import pandas as pd

# First DataFrame
df1 = pd.DataFrame({
    'EmployeeID': [1, 2, 3],
    'Name': ['Ali', 'Sara', 'John']
})

# Second DataFrame
df2 = pd.DataFrame({
    'EmployeeID': [1, 2, 4],
    'Department': ['HR', 'IT', 'Finance']
})

# Merge the two DataFrames
result = pd.merge(df1, df2)

print(result)

   EmployeeID  Name Department
0           1   Ali         HR
1           2  Sara         IT

### 2.right

The second DataFrame.

pd.merge(df1, df2)

These two DataFrames are mandatory.

In [2]:
# Example
import pandas as pd

# First DataFrame
df1 = pd.DataFrame({
    'EmployeeID': [1, 2, 3],
    'Name': ['Ali', 'Sara', 'John']
})

# Second DataFrame
df2 = pd.DataFrame({
    'EmployeeID': [1, 2, 4],
    'Department': ['HR', 'IT', 'Finance']
})

# Merge the two DataFrames
result = pd.merge(df1, df2)

print(result)

   EmployeeID  Name Department
0           1   Ali         HR
1           2  Sara         IT

### 3.how – Type of Join (VERY IMPORTANT)
| Value   | Meaning                      |
|---------|------------------------------|
| `'inner'` | Common records only (default) |
| `'left'`  | All rows from left DF       |
| `'right'` | All rows from right DF      |
| `'outer'` | All rows from both          |

In [3]:
# Example
import pandas as pd

# First DataFrame
df1 = pd.DataFrame({
    'EmployeeID': [1, 2, 3],
    'Name': ['Ali', 'Sara', 'John']
})

# Second DataFrame
df2 = pd.DataFrame({
    'EmployeeID': [1, 2, 4],
    'Department': ['HR', 'IT', 'Finance']
})

In [4]:
#  1.Inner Join
pd.merge(df1, df2, how='inner')
# Keeps only rows where keys (EmployeeID) exist in both DataFrames.

   EmployeeID  Name Department
0           1   Ali         HR
1           2  Sara         IT

In [5]:
# 2.Left Join
pd.merge(df1, df2, how='left')
#bKeeps all rows from df1, adds matches from df2. Missing values become NaN.

   EmployeeID  Name Department
0           1   Ali         HR
1           2  Sara         IT
2           3  John        NaN

In [6]:
# 3.Right Join
pd.merge(df1, df2, how='right')
# Keeps all rows from df2, adds matches from df1. Missing values become NaN.

   EmployeeID  Name Department
0           1   Ali         HR
1           2  Sara         IT
2           4   NaN    Finance

In [7]:
# 4.Outer Join
pd.merge(df1, df2, how='outer')
# Keeps all rows from both DataFrames, fills missing values with NaN.

   EmployeeID  Name Department
0           1   Ali         HR
1           2  Sara         IT
2           3  John        NaN
3           4   NaN    Finance

### 4.on

Column name(s) common in both DataFrames.

pd.merge(df1, df2, on='EmployeeID')

Use only if column names are same.

In [12]:
# Example
import pandas as pd

# First DataFrame
df1 = pd.DataFrame({
    'EmployeeID': [1, 2, 3],
    'Name': ['Ali', 'Sara', 'John']
})

# Second DataFrame
df2 = pd.DataFrame({
    'EmployeeID': [1, 2, 4],
    'Department': ['HR', 'IT', 'Finance']
})

# Merge using EmployeeID as the key
result = pd.merge(df1, df2, on='EmployeeID')

print(result)

   EmployeeID  Name Department
0           1   Ali         HR
1           2  Sara         IT

### 5.left_on & right_on

Used when column names are different.

e.g

pd.merge(
    df1,
    df2,
    left_on='Emp_ID',
    right_on='EmployeeID'
)

Use instead of on

In [13]:
# Example
import pandas as pd

df1 = pd.DataFrame({
    'Emp_ID': [1, 2, 3],
    'Name': ['Ali', 'Sara', 'John']
})

df2 = pd.DataFrame({
    'EmployeeID': [1, 2, 4],
    'Department': ['HR', 'IT', 'Finance']
})

# Correct merge
result = pd.merge(df1, df2, left_on='Emp_ID', right_on='EmployeeID')
print(result)

   Emp_ID  Name  EmployeeID Department
0       1   Ali           1         HR
1       2  Sara           2         IT

### 6.left_index & right_index

Use index instead of columns.

e.g

pd.merge(
    df1,
    df2,
    left_index=True,
    right_index=True
)

Useful when index contains meaningful keys.

In [11]:
# Example
import pandas as pd

# First DataFrame with custom index
df1 = pd.DataFrame({
    'Name': ['Ali', 'Sara', 'John']
}, index=[1, 2, 3])

# Second DataFrame with custom index
df2 = pd.DataFrame({
    'Department': ['HR', 'IT', 'Finance']
}, index=[1, 2, 4])

# Merge using index
result = pd.merge(df1, df2, left_index=True, right_index=True)

print(result)

   Name Department
1   Ali         HR
2  Sara         IT

### 7.sort

Sort result by join keys.

pd.merge(df1, df2, sort=True)

Default is False (faster).

In [14]:
# Example

import pandas as pd

df1 = pd.DataFrame({
    'EmployeeID': [3, 1, 2],
    'Name': ['John', 'Ali', 'Sara']
})

df2 = pd.DataFrame({
    'EmployeeID': [2, 1, 3],
    'Department': ['IT', 'HR', 'Finance']
})

# Merge with sorting
result = pd.merge(df1, df2, on='EmployeeID', sort=True)

print(result)

   EmployeeID  Name Department
0           1   Ali         HR
1           2  Sara         IT
2           3  John    Finance

### 8.suffixes

Resolve column name conflicts.

pd.merge(
    df1,
    df2,
    on='ID',
    suffixes=('_left', '_right')
)

Prevents overwriting column names.

In [15]:
# Example

import pandas as pd

# First DataFrame
df1 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['Ali', 'Sara', 'John'],
    'Salary': [40000, 50000, 60000]
})

# Second DataFrame
df2 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['Aly', 'Sarah', 'Johnny'],   # same column name "Name"
    'Department': ['HR', 'IT', 'Finance']
})

# Merge with suffixes
result = pd.merge(df1, df2, on='ID', suffixes=('_left', '_right'))

print(result)

   ID Name_left  Salary Name_right Department
0   1       Ali   40000        Aly         HR
1   2      Sara   50000      Sarah         IT
2   3      John   60000     Johnny    Finance

### 9.indicator

Adds a column showing source of each row.

pd.merge(df1, df2, indicator=True)

In [18]:
# Example
import pandas as pd

# First DataFrame
df1 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['Ali', 'Sara', 'John']
})

# Second DataFrame
df2 = pd.DataFrame({
    'ID': [2, 3, 4],
    'Department': ['IT', 'Finance', 'HR']
})

# Merge with indicator
result = pd.merge(df1, df2, on='ID', how='outer', indicator=True)

print(result)

   ID  Name Department      _merge
0   1   Ali        NaN   left_only
1   2  Sara         IT        both
2   3  John    Finance        both
3   4   NaN         HR  right_only

### 10.validate

Ensures merge integrity.

pd.merge(df1, df2, validate='one_to_one')

| Value        | Meaning                 |
|--------------|-------------------------|
| `one_to_one` | Unique keys both sides  |
| `one_to_many`| Left unique            |
| `many_to_one`| Right unique           |
| `many_to_many`| Default                |

In [20]:
# Example
import pandas as pd

# First DataFrame
df1 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['Ali', 'Sara', 'John']
})

# Second DataFrame
df2 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Department': ['HR', 'IT', 'Finance']
})

# Merge with validation
result = pd.merge(df1, df2, on='ID', validate='one_to_one')

print(result)

   ID  Name Department
0   1   Ali         HR
1   2  Sara         IT
2   3  John    Finance